In [65]:
# Descarga tu repositorio desde GitHub
!git clone https://github.com/Wmarbar/CProgram_incidencias.git

# Cambia de directorio para acceder a los archivos
%cd CProgram_incidencias

# Verifica que los archivos estén
!ls

Cloning into 'CProgram_incidencias'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 27 (delta 9), reused 9 (delta 1), pack-reused 0 (from 0)
Receiving objects: 100% (27/27), 1.62 MiB | 5.77 MiB/s, done.
Resolving deltas: 100% (9/9), done.
/content/CProgram_incidencias/CProgram_incidencias/CProgram_incidencias/CProgram_incidencias/CProgram_incidencias/CProgram_incidencias
 constructor4_proyecto_II.ipynb   README.md
 input				 'Trabajo-CalidadDeDatos Ver4-2.pdf'
 logo_u.png

# __PROGRAMACIÓN PARA ANALÍTICA DE DATOS__

<img src="https://github.com/WMARBAR/CProgram_incidencias/blob/main/logo_u.png?raw=1" alt="Logo Universidad Central" width="300" />

> ## __PROYECTO: Estimación Área bajo la curva__

> ## Profesor: Jorge Victorino [jvictorinog@ucentral.edu.co](jvictorinog@ucentral.edu.co)<br>
> ## Estudiante: Sergio Andrés Sánchez Cárdenas [correo@ucentral.edu.co](mailto:correo@ucentral.edu.co)<br>
> ## Estudiante: Wilson Felipe Mártinez Barrantes [wmartinezb1@ucentral.edu.co](jvictorinog@ucentral.edu.co)<br>
> ## Grupo: 5 <br>
> ### Facultad de Ingeniería y Ciencias Básicas <br>
> ### Universidad Central <br>
> <br>

---

# FUNCTIONS

In [66]:
import pandas as pd
import numpy as np

def load_excel(path):

 df_incidentes = pd.read_excel(path)
 return df_incidentes


def load_excel(path):

 df_incidentes = pd.read_excel(path)
 return df_incidentes


def delta_dates(df, col1, col2):
    try:
        # Verificar si las columnas existen
        if col1 not in df.columns or col2 not in df.columns:
            print(f"Las columnas '{col1}' o '{col2}' no existen en el DataFrame.")
            return df

        # Convertir columnas a datetime con coerción
        df[col1] = pd.to_datetime(df[col1], errors='coerce')
        df[col2] = pd.to_datetime(df[col2], errors='coerce')

        # Avisar si hay muchas fechas inválidas (pero continuar)
        if df[col1].isna().any():
            print(f"Algunos valores en '{col1}' no son fechas válidas y se marcarán como NaT.")
        if df[col2].isna().any():
            print(f"Algunos valores en '{col2}' no son fechas válidas y se marcarán como NaT.")

        # Calcular diferencia en días (donde ambas fechas sean válidas)
        nueva_col = f"{col1}_{col2}_days"
        df[nueva_col] = (df[col2] - df[col1]).dt.days

        return df

    except Exception as e:
        print(f"Error inesperado: {e}")
        return df

# DEV ZONE

## 1.) CARGA DE ARCHIVOS

In [67]:
# Cargar archivos
df_incidentes = load_excel("./input/incidentes1.xlsx")
df_estructura = load_excel("./input/estructura1.xlsx")

## 2.) DIAS TRANSCURRIDOS

In [68]:
df_incidentes.columns

Index(['Incidente', 'Estructura', 'Tipo incidente', 'Estado', 'Prioridad',
       'Creacion', 'Inicio', 'Cierre'],
      dtype='object')

In [69]:
df_incidentes=delta_dates(df_incidentes,'Creacion','Inicio')
df_incidentes=delta_dates(df_incidentes,'Creacion','Cierre')
df_incidentes=delta_dates(df_incidentes,'Inicio','Cierre')
df_incidentes

⚠️ Algunos valores en 'Cierre' no son fechas válidas y se marcarán como NaT.
⚠️ Algunos valores en 'Cierre' no son fechas válidas y se marcarán como NaT.

,Incidente,Estructura,Tipo incidente,Estado,Prioridad,Creacion,Inicio,Cierre,Creacion_Inicio_days,Creacion_Cierre_days,Inicio_Cierre_days
0,1888349,19885059.0,NaN,INIC,Mes,2003-05-18,2003-05-18,2003-10-01,0,136.0,136.0
1,1888338,19797979.0,NaN,INIC,Semestre,2003-05-19,2003-05-19,2003-08-16,0,89.0,89.0
2,1888336,19798855.0,NaN,CCLI,Semana,2003-05-21,2003-05-21,2003-06-02,0,12.0,12.0
3,1888122,19892782.0,NaN,INIC,Semana,2003-05-28,2003-05-28,2003-06-02,0,5.0,5.0
4,1888094,19862532.0,NaN,PROY,Semestre,2003-05-29,2003-07-30,2005-08-06,62,800.0,738.0
...,...,...,...,...,...,...,...,...,...,...,...
38246,1012607,19878276.0,NaN,INIC ENPT,Año,2017-05-28,2018-05-03,NaT,340,NaN,NaN
38247,1012596,NaN,NaN,INIC ENPT,Año,2017-05-28,2018-09-19,2018-09-28,479,488.0,9.0
38248,1012558,19877965.0,NaN,INIC ENPT,Dos años,2017-05-28,2018-12-27,2018-12-27,578,578.0,0.0
38249,1012557,19877964.0,NaN,INIC ENPT,Dos años,2017-05-28,2018-06-23,2018-07-07,391,405.0,14.0
38250,1012554,19878537.0,NaN,INIC ENPT,Dos años,2017-05-28,2018-12-19,2018-12-21,570,572.0,2.0

## 3.) PROCESAMIENTO DE DUPLICADOS